body
	font-family: Arial, 'PT Sans', sans-serif
div
	border: 1px solid black
.lopho
	background: #DCDCDC
.logo
.phone
	float: right
	li
		font-size: 30px
		list-style: none
	a
		font-size: 14px	
		float: right
		text-decoration: none
		&hover
nav
	border: 1px solid black
	background: #767676	
.menu
	width: 100%
	text-align: center
	li
		margin-right: 50px
		list-style: none
		float: left
	a
		color: #fff
		font-size: 18px
		text-decoration: none
.bunner
	background-color: #fff
	background: url(../img/bunner.png) no-repeat center top /cover
	height: 400px