.swipeView {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    will-change: transform;
    align-content: center;
    overflow-x: auto;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
section{
    scroll-snap-align: start;
    /* overflow-x:hidden; */
    
  
}
  
.green {
  width: 100%;
  /* height: 70vh; */
  /* background: #e06483; */
  display: grid;
  align-items: center;
  overflow: hidden;
  /* text-align: center; */
}

.green img{
  margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    object-fit: cover;

    
    
}
.purple {
  background: #601f8b;
}

.orange {
  background: #FD8F58;
}


@media only screen and (max-width: 768px) {

  section {
    /* height: 100vh; */
  
  }
}